
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-shm
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-wal
CinemaProject/obj/Debug/CinemaProject.csprojAssemblyReference.cache
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-shm
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-wal
CinemaProject/obj/Debug/CinemaProject.csprojAssemblyReference.cache
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-shm
CinemaProject/.vs/CinemaProject/v16/Server/sqlite3/storage.ide-wal
Collabration Agreement.pdf